body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
   
}

.heading {
    font-size: 24px;
    color: #F9FAF8;
    
}

.large-heading {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
    width: 300px;
    align-self: flex-start;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin: 0;
    align-items: center;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
}

.heading-text {
    align-self: flex-start;
    color: #E5E7EB;
    font-size: 18px;
    width: 550px;
    margin-bottom: 5px;
    
}

.tophalf {
    background-color: #1F2937;
    padding-left: 220px;
    padding-right: 220px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
}